/* ----------------------- CONTACT ------------------ */

.se-containerContact {
  max-width: 70%;
  margin-left: 15%;
  margin-top: 40px;
}

.se-art__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  gap: 10px;
}

.se-art__contact img {
  width: 45%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.425);
}

.se-art__contact .art-infoContact {
  width: 50%;
}

.art-infoContact {
  width: 800px;
  height: 260px;
}

.art-infoContact h2 {
  font-size: 3em;
  font-family: "Lexend Deca";
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
}

.art-infoContact span {
  color: #f77f00;
}

.art-infoContact p {
  font-family: "Nunito";
  font-size: 1.3em;
  font-weight: 600;
  color: #707070;
}

.principal-ubication {
  /* background-color: #807d7b;
  background-position: center;
  background-size: cover; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(247, 127, 0, 1) 100%
  );
}

/* ---- Form ------ */

.form-container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 50%;
}

.form-title h2 {
  font-size: 2em;
  font-family: "Lexend Deca";
  font-weight: 600;
  color: #001d3d;
}

.form-secciones {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-secciones label {
  font-size: 1.2em;
  font-family: "Nunito";
  font-weight: 600;
  margin-bottom: 7px;
}

.form-secciones span {
  color: red;
}

.form-secciones input {
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  margin-bottom: 5px;
  border: #001d3d 2px solid;
  font-family: "Nunito";
}

.form-secciones input::placeholder {
  color: #707070;
}

.form-secciones textarea {
  border: #001d3d 2px solid;
  border-radius: 5px;
  height: 80px;
  padding: 5px;
  font-size: 1em;
  font-family: "Nunito";
}

.form-secciones textarea::placeholder {
  color: #707070;
}

.form-container button {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #001d3d;
  color: white;
  font-weight: 600;
  font-family: "Lexend Deca";
}

.form-container button:hover {
  color: #001d3d;
  background-color: white;
  border: 2px solid #001d3d;
  cursor: pointer;
}
