/* ----------------------- CONTACT ------------------ */

.se-containerContact {
  max-width: 80%;
  margin-left: 10%;
  margin-top: 40px;
}

.se-art__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  gap: 10px;
}

.se-art__contact img {
  width: 45%;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.425);
}

.se-art__contact .art-infoContact {
  width: 50%;
}

.art-infoContact {
  width: 800px;
  height: 260px;
}

.art-infoContact h2 {
  font-size: 3em;
  font-family: "Lexend Deca";
  font-weight: 600;
  color: #000;
  margin-bottom: 30px;
  text-wrap: balance;
}

.art-infoContact span {
  color: #f77f00;
}

.art-infoContact p {
  font-family: "Nunito";
  font-size: 1.3em;
  font-weight: 600;
  color: #707070;
}

.principal-ubication {
  /* background-color: #807d7b;
  background-position: center;
  background-size: cover; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(247, 127, 0, 1) 100%
  );
}

.Form {
  width: 80%;
  height: 600px;
  margin-left: 10%;
  margin-top: 7%;
}
