/* necesidades */

.se-containerNecesidad {
  max-width: 80%;
  width: 100%;
  margin-left: 10%;
  /* margin-top: 2%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.se-containerNecesidad h1 {
  font-family: "Lexend Deca";
  font-size: 1.45em;
  font-weight: 500;
  color: #ff8400;
  padding-top: 40px;
}

.se-containerNecesidad p {
  font-size: 1.1em;
  font-family: "Nunito";
  font-weight: 500;
  color: #868686;
  margin-bottom: 8%;
}

.necesidad-carrusel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.necesidad-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 600px;
  padding: 40px;
}

.necesidad-card {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.necesidad-card h1 {
  color: black;
  padding-top: 0;
  font-family: "Lexend Deca";
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 4px solid black;
}

.necesidad-card p {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.897);
  font-size: 1.1em;
  font-weight: 600;
}

.necesidad-cardImg {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: black 4px solid; */
  /* border-radius: 10px; */
}

.img-necesidad img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  border-radius: 10px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.534);
}
