/* ---------------- FOOTER --------------- */

.footer {
  /* background-color: #757575; */
  background-color: black;
}

.se-footerInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  max-width: 80%;
  margin-left: 10%;
  border-bottom: 2px solid #f77f00;
}

.se-footerInfo img {
  margin: 30px;
  width: 180px;
  height: 180px;
}

.texto-footer p {
  font-size: 1.1em;
  font-family: "Nunito";
  text-align: center;
  width: 600px;
  color: #c0c0c0;
}

.datos-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  /* background-color: #f77f00; */
}

.datos-footer p {
  display: flex;
  gap: 10px;
  text-align: end;
  font-size: 1.2em;
  font-family: "Nunito";
  color: #c0c0c0;
  margin-bottom: 10px;
}

.datos-footer img {
  width: 30px;
  height: 30px;
  margin: 0;
  filter: invert(55%) sepia(15%) saturate(6127%) hue-rotate(3deg)
    brightness(97%) contrast(107%);
}

.se-footerDerechos {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin-left: 10%;
}

.se-footerDerechos p {
  font-family: "Lexend Deca";
  font-weight: 300;
  color: #c0c0c0;
}

.se-footerDerechos a {
  text-decoration: none;
  color: #f77f00;
  font-weight: bold;
}
