/* ---- Form ------ */

.form-container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 50%;
}

.form-title h2 {
  font-size: 2.4em;
  font-family: "Lexend Deca";
  font-weight: 600;
  color: black;
}

.form-secciones {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-secciones label {
  font-size: 1.2em;
  font-family: "Lexend Deca";
  font-weight: 500;
  margin-bottom: 7px;
  color: black;
}

.form-secciones span {
  color: #f77f00;
}

.form-secciones input {
  height: 35px;
  padding-left: 5px;
  margin-bottom: 5px;
  border: black 2px solid;
  font-family: "Nunito";
}

.form-secciones input::placeholder {
  color: #888888;
  font-size: 1.3em;
}

.form-secciones textarea {
  border: black 2px solid;

  height: 80px;
  padding: 5px;
  font-size: 1em;
  font-family: "Nunito";
}

.form-secciones textarea::placeholder {
  color: #888888;
  font-size: 1.2em;
}

.form-container button {
  width: 100px;
  height: 40px;
  margin-top: 30px;
  font-size: 1em;
  font-family: "Lexend Deca";
  font-weight: 400;
  background-color: #f77f00;
  color: white;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.438);
}

.form-container button:hover {
  background-color: #d47004;
  cursor: pointer;
  transition: background-color 0.6s;
}
