@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600&family=Nunito:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar Section */

.nav-container {
  max-width: 80%;
  margin-left: 10%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Lexend Deca";
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-logo h3 {
  font-weight: 600;
  font-size: 1.4em;
  color: #001d3d;
}

.nav-logo span {
  color: red;
}

.nav-sectionOptions {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-sectionOptions ul {
  display: flex;
  gap: 50px;
}

.nav-sectionOptions ul li {
  list-style: none;
}

.nav-sectionOptions a {
  text-decoration: none;
  color: #001d3d;
  font-size: 1.2em;
}

.nav-sectionOptions a:hover {
  color: red;
  padding-bottom: 3px;
  border-bottom: 2px solid red;
}

/* Home */

.se-homeTitle {
  background-image: url("./assets/zyro-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  width: 100%;
  min-height: 700px;
}

.se-containerTitle__Info {
  min-height: 700px;
  max-width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.se-infoHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.637);
  border-radius: 10px;
  height: 250px;
  width: 800px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.349);
}

.se-infoHome h1 {
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 2em;
  margin-bottom: 20px;
  color: #001d3d;
}

.se-infoHome span {
  color: red;
}

.se-infoHome p {
  font-size: 1.5em;
  font-family: "Nunito";
  text-align: center;
  font-weight: 600;
}

.se-containerTitle__Info a {
  text-decoration: none;
}

.se-containerTitle__Info button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  color: rgb(255, 0, 0);
  width: 130px;
  height: 40px;
  margin-top: 30px;
  font-family: "Lexend Deca";
  font-size: 1.1em;
  font-weight: 500;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.438);
}

.se-containerTitle__Info button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: white;
  transition: all 0.3s;
}

/* Porque Elegirnos */

.se-containerNosotros {
  max-width: 80%;
  margin-left: 10%;
  height: auto;
  margin-bottom: 150px;
}

.se-containerNosotros h1 {
  font-family: "Lexend Deca";
  font-size: 2em;
  font-weight: 600;
  color: #001d3d;
  text-align: center;
  margin-bottom: 80px;
}

.ar-cardNosotros {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.di-nosotrosInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #a8a8a838;
  border-radius: 5px;
  width: 330px;
  height: 370px;
  padding: 20px;
}

.di-nosotrosInfo:hover {
  border-bottom: 4px solid red;
  cursor: pointer;
  transition: all;
}

.di-nosotrosInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001d3d;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.di-nosotrosInfo img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(165deg)
    brightness(104%) contrast(102%);
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

.di-nosotrosInfo h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  margin-bottom: 12px;
  color: red;
  font-size: 1.3em;
  font-family: "Lexend Deca";
}

.di-nosotrosInfo p {
  font-size: 1.1em;
  font-family: "Nunito";
  font-weight: 600;
}

/* Footer */

.footer {
  background-color: #001d3d;
}

.se-footerInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  max-width: 80%;
  margin-left: 10%;
  border-bottom: 1px solid white;
}

.se-footerInfo img {
  margin: 30px;
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.texto-footer p {
  font-size: 1.4em;
  font-family: "Nunito";
  text-align: center;
  width: 600px;
  color: white;
}

.datos-footer p {
  font-size: 1.4em;
  font-family: "Nunito";
  text-align: center;
  color: white;
}

.se-footerDerechos {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin-left: 10%;
}

.se-footerDerechos p {
  font-family: "Lexend Deca";
  color: white;
}

.se-footerDerechos a {
  text-decoration: none;
  color: red;
}
