@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600&family=Nunito:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NavBar Section */

.nav-container {
  max-width: 80%;
  margin-left: 10%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Lexend Deca";
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

.nav-logo h3 {
  font-weight: 600;
  font-size: 1.4em;
}

.nav-logo span {
  color: red;
}

.nav-sectionOptions {
  display: flex;
  align-items: center;
  margin-right: 40px;
  width: 400px;
}

.nav-sectionOptions ul {
  display: flex;
  gap: 50px;
}

.nav-sectionOptions ul li {
  list-style: none;
}

.nav-sectionOptions a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.nav-sectionOptions a:hover {
  color: red;
  padding-bottom: 3px;
  border-bottom: 2px solid red;
}

/* Home */

.se-homeTitle {
  background-image: url("./assets/prueba-peugeot-2008-bluehdi-130-2215289.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  width: 100%;
  min-height: 700px;
}

.se-containerTitle__Info {
  min-height: 700px;
  max-width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.se-infoHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 10px;
  height: 250px;
  width: 800px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.349);
}

.se-infoHome h1 {
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 2em;
  margin-bottom: 20px;
}

.se-infoHome span {
  color: red;
}

.se-infoHome p {
  font-size: 1.5em;
  font-family: "Nunito";
  text-align: center;
  font-weight: 600;
}

.se-containerTitle__Info a {
  text-decoration: none;
}

.se-containerTitle__Info button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  color: rgb(255, 0, 0);
  width: 130px;
  height: 40px;
  margin-top: 30px;
  font-family: "Lexend Deca";
  font-size: 1.1em;
  font-weight: 500;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.438);
}

.se-containerTitle__Info button:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: white;
  transition: all 0.3s;
}
